{%extends "base.jinja2" %} {% block content %}

<div class="page-header">
    <h1>Nueva Inversión</h1>    
</div>
<div class="form-size">
    <form method="POST">
        <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" name="id">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
            <label for="periodo">Periodo en Meses</label>
            <input type="text" class="form-control" id="periodo" name="periodo">
            <label for="interes">Interes Anual</label>
            <input type="text" class="form-control" id="interes" name="interes">
        </div>
        <button type="submit" class="btn btn-primary">Agrega Inversión</button>
        
    </form>
</div>
{% endblock %}